includes:
	- phpstan-baseline.neon
parameters:
    level: 5
    paths:
        - webberzone-link-warnings.php
        - includes/
    scanFiles:
        - webberzone-link-warnings.php
    scanDirectories:
        - includes
    bootstrapFiles:
        - phpstan-bootstrap.php
    ignoreErrors:
